In [2]:
#import dependecies
import pandas as pd
import numpy as np
import os
import PIL
from PIL import Image
%matplotlib inline
import matplotlib.pyplot as plt
from IPython.display import Image, SVG
# Sklearn scaling
from sklearn.preprocessing import MinMaxScaler

In [3]:
#importing csv
Image_Paths_df = pd.read_csv('Transformed_Valid_Data/Image_paths.csv')
Image_Paths_df.head()

                                          Image_Path
0  MURA-v1.1/valid/XR_WRIST/patient11185/study1_p...
1  MURA-v1.1/valid/XR_WRIST/patient11185/study1_p...
2  MURA-v1.1/valid/XR_WRIST/patient11185/study1_p...
3  MURA-v1.1/valid/XR_WRIST/patient11185/study1_p...
4  MURA-v1.1/valid/XR_WRIST/patient11186/study1_p...

In [4]:
len(Image_Paths_df)

3198

In [5]:
Seperated_Path_df = pd.read_csv('Transformed_Valid_Data/seperated_path.csv')
Seperated_Path_df.head()

      Folder Data_Type Xray_Type       Patient    Study_Outcome       Image
0  MURA-v1.1     valid  XR_WRIST  patient11185  study1_positive  image1.png
1  MURA-v1.1     valid  XR_WRIST  patient11185  study1_positive  image2.png
2  MURA-v1.1     valid  XR_WRIST  patient11185  study1_positive  image3.png
3  MURA-v1.1     valid  XR_WRIST  patient11185  study1_positive  image4.png
4  MURA-v1.1     valid  XR_WRIST  patient11186  study1_positive  image1.png

In [6]:
len(Seperated_Path_df)

3198

In [7]:
#not in use right now
#path_for_one = Image_Paths_df['Image_Path'][1]
#img = PIL.Image.open(path_for_one)
#img = img.resize((600,600), PIL.Image.LANCZOS)
#img_array = np.asarray(img)

In [5]:
from keras.preprocessing.image import ImageDataGenerator, array_to_img, img_to_array, load_img
path_for_one = Image_Paths_df['Image_Path'][1]
img = load_img(path_for_one)
img_array = img_to_array(img)
img_resize = img_array.resize(1,500,500,3)
img_resize.shape

FileNotFoundError: [Errno 2] No such file or directory: 'MURA-v1.1/valid/XR_WRIST/patient11185/study1_positive/image2.png'

In [8]:
img.mode

'L'

In [52]:
path_for_one

'MURA-v1.1/valid/XR_WRIST/patient11185/study1_positive/image2.png'

In [58]:
Image_Paths_df.dtypes

Image_Path    object
dtype: object

In [9]:
img_array.shape

(600, 600)

In [10]:
paths = Image_Paths_df['Image_Path']

In [12]:
img_array_data = []

def creating_array_img_data():
    for path in paths:
        img = PIL.Image.open(path_for_one)
        img = img.resize((600,600), PIL.Image.LANCZOS)
        img_array = np.asarray(img)
        img_array_data.append([img_array])

creating_array_img_data()

In [13]:
print(len(img_array_data))

3198

In [14]:
raw_results_df = Seperated_Path_df.drop(
    Seperated_Path_df.columns[[0,1,3,5]], axis=1)
raw_results_df.head()

  Xray_Type    Study_Outcome
0  XR_WRIST  study1_positive
1  XR_WRIST  study1_positive
2  XR_WRIST  study1_positive
3  XR_WRIST  study1_positive
4  XR_WRIST  study1_positive

In [15]:
len(raw_results_df)

3198

In [16]:
len(img_array_data)

3198

In [17]:
raw_results_df['Images'] = img_array_data

In [18]:
raw_results_df.head()

,Xray_Type,Study_Outcome,Images
0,XR_WRIST,study1_positive,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
1,XR_WRIST,study1_positive,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
2,XR_WRIST,study1_positive,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
3,XR_WRIST,study1_positive,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."
4,XR_WRIST,study1_positive,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0..."

In [19]:
body_part_df = raw_results_df.drop(['Study_Outcome'], axis=1)
body_part_df.head()

  Xray_Type                                             Images
0  XR_WRIST  [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
1  XR_WRIST  [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
2  XR_WRIST  [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
3  XR_WRIST  [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
4  XR_WRIST  [[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...

In [20]:
dummy_body_part_df = pd.get_dummies(body_part_df, prefix=['Xray_Type'], columns=['Xray_Type'])
dummy_body_part_df.head()

,Images,Xray_Type_XR_ELBOW,Xray_Type_XR_FINGER,Xray_Type_XR_FOREARM,Xray_Type_XR_HAND,Xray_Type_XR_HUMERUS,Xray_Type_XR_SHOULDER,Xray_Type_XR_WRIST
0,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",0,0,0,0,0,0,1
1,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",0,0,0,0,0,0,1
2,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",0,0,0,0,0,0,1
3,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",0,0,0,0,0,0,1
4,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",0,0,0,0,0,0,1

In [22]:
#shuffling the dataframe to make for better test
from sklearn.utils import shuffle
shuffled_df = shuffle(dummy_body_part_df)
shuffled_df.head()

,Images,Xray_Type_XR_ELBOW,Xray_Type_XR_FINGER,Xray_Type_XR_FOREARM,Xray_Type_XR_HAND,Xray_Type_XR_HUMERUS,Xray_Type_XR_SHOULDER,Xray_Type_XR_WRIST
2632,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",1,0,0,0,0,0,0
2634,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",1,0,0,0,0,0,0
265,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",0,0,0,0,0,0,1
2119,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",0,0,0,0,0,1,0
233,"[[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",0,0,0,0,0,0,1

In [27]:
#breaking the data frame into our X and y lists for our model
X = shuffled_df['Images']
y = shuffled_df[['Xray_Type_XR_ELBOW','Xray_Type_XR_FINGER',
                 'Xray_Type_XR_FOREARM', 'Xray_Type_XR_HAND',
                'Xray_Type_XR_HUMERUS','Xray_Type_XR_SHOULDER','Xray_Type_XR_WRIST']]

In [34]:
X[0]

[array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)]

In [60]:
y

,Xray_Type_XR_ELBOW,Xray_Type_XR_FINGER,Xray_Type_XR_FOREARM,Xray_Type_XR_HAND,Xray_Type_XR_HUMERUS,Xray_Type_XR_SHOULDER,Xray_Type_XR_WRIST
2632,1,0,0,0,0,0,0
2634,1,0,0,0,0,0,0
265,0,0,0,0,0,0,1
2119,0,0,0,0,0,1,0
233,0,0,0,0,0,0,1
811,0,0,1,0,0,0,0
212,0,0,0,0,0,0,1
2263,0,0,0,0,0,1,0
1932,0,0,0,0,0,1,0
520,0,0,0,0,0,0,1
2164,0,0,0,0,0,1,0
2453,1,0,0,0,0,0,0
1780,0,0,0,0,0,1,0
3086,0,1,0,0,0,0,0
833,0,0,1,0,0,0,0
1142,0,0,0,1,0,0,0
1491,0,0,0,0,1,0,0
1773,0,0,0,0,0,1,0
2218,0,0,0,0,0,1,0
927,0,0,1,0,0,0,0
363,0,0,0,0,0,0,1
806,0,0,1,0,0,0,0
449,0,0,0,0,0,0,1
2182,0,0,0,0,0,1,0
407,0,0,0,0,0,0,1
1651,0,0,0,0,1,0,0
723,0,0,1,0,0,0,0
2069,0,0,0,0,0,1,0
2366,1,0,0,0,0,0,0
945,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...
763,0,0,1,0,0,0,0
2245,0,0,0,0,0,1,0
1464,0,0,0,0,1,0,0
3076,0,1,0,0,0,0,0
1566,0,0,0,0,1,0,0
143,0,0,0,0,0,0,1
1662,0,0,0,0,1,0,0
1613,0,0,0,0,1,0,0
3165,0,1,0,0,0,0,0
2679,1,0,0,0,0,0,0
2899,0,1,0,0,0,0,0
471,0,0,0,0,0,0,1
2939,0,1,0,0,0,0,0
744,0,0,1,0,0,0,0
2595,1,0,0,0,0,0,0
564,0,0,0,0,0,0,1
1073,0,0,0,1,0,0,0
1470,0,0,0,0,1,0,0
724,0,0,1,0,0,0,0
1396,0,0,0,1,0,0,0
1070,0,0,0,1,0,0,0
53,0,0,0,0,0,0,1
2473,1,0,0,0,0,0,0
3067,0,1,0,0,0,0,0
222,0,0,0,0,0,0,1
1543,0,0,0,0,1,0,0
2665,1,0,0,0,0,0,0
2547,1,0,0,0,0,0,0
3022,0,1,0,0,0,0,0
2404,1,0,0,0,0,0,0

In [30]:
# Keras
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense, Dropout, Activation, Flatten, Conv2D, MaxPooling2D
from keras.datasets import mnist

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

X_Train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

In [36]:
model = Sequential()
model.add(Conv2D(64), (3,3), input_shape = (600,600))
model.add(Activation("relu"))
model.add(MaxPooling2D(pool_size=(2,2)))

model.add(Conv2D(64), (3,3))
model.add(Activation("relu"))
model.add()

TypeError: __init__() missing 1 required positional argument: 'kernel_size'